* {
  box-sizing: border-box;
}
.wrapper{
  display: flex;
}

.top{
  display: flex;
}
.stop{
  display:flex;
  align-items:center;
  height: 100px;
  width:300px;
  background-color: #253141;
}
.user{
  display:flex;
  align-items: center;
  margin:0 20px;
  height: 20px;
  width: 260px;
  &__name{
    width:200px;
    font-style: bold;
    font-size: 16px;
    color: #ffffff;
  }
  &__btn{
    display: flex;
    justify-content: flex-end;
    width: 60px;
    &--edit{
      margin: 5px;
      text-decoration: none;
      color: #ffffff;
    }
    &--set{
      color: #ffffff;
    }
  }
}

.ctop{
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color:#ffffff;
  border: 1px solid #eeeeee;
  width: calc(100vw - 300px);
}

.groupe{
  &__name{
    margin:35px 0px 15px 40px;
    font-size: 20px;
    color: #333333;
  }
  &__mem{
    margin-left: 40px;
    font-size: 12px;
    color: #999999;
  }
}
.gedit{
  position: relative;
  align-items: center;
  display: flex;
  margin-right:40px;
  &__box{
    height:40px;
    width:72px;
    border: 1px solid #38aef0;
  }
  &__form{
    position: absolute;
    margin-left: 20px;
    color: #38aef0;
    font-size:16px;
    &--edit{
      text-decoration: none;
    }
  }
}

.middle{
  display: flex;
}
.smiddle{
  height: calc(100vh - 100px);
  width:300px;
  background-color: #2f3e51;
  &__cgrp{
  height:65px;
    &--name{
      font-size: 15px;
      color: #ffffff;
      margin:20px 20px 5px 20px;
    }
    &--mes{
    font-size:11px;
    color: #ffffff;
    margin-left:20px;
    }
  }
}

.cmiddle{
  width: calc(100vw - 300px);
}
.cmiddlem{
  background-color: #fafafa;
  height:calc(100vh - 190px);
}
.mainmes{
  padding-top:35px;
  &__arrive{
    display: flex;
    margin-left:40px;
    &--name{
      color: #333333;
      font-size: 16px;
    }
    &--date{
      margin-left: 5px;
      color: #999999;
      font-size: 12px ;
    }
  }
  &__nmes{
    margin-left:40px;
    color: #434A54;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 46px;
  }
}

.cfooter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d2d2d2;
  width: calc(100vw - 300px);
  height:90px;
  &__form{
    display: flex;
    position: relative;
    align-items: center;
    &--box{
      height: 50px;
      width: calc(100vw - 500px);
      margin: 20px 15px 25px 50px;
      font-size: 16px;
      color: #999999;
    }
    &--pic{
      position: absolute;
      right: 25px;
      bottom: 40px;
    }
    &--image{
      input{display:none;
    }
  }
}
  &__fobtn{
    margin-right:40px;
    height:50px;
    width:100px;
    border: 1px solid #38aef0;
    background-color: #38aef0;
    color: #fff;
    font-size:16px;
  }
}